.currentRates {
  padding-top: 100px;
  max-width: 800px;
  margin: auto;
}

.header {
  max-width: 1600px;
}

.possitive {
  color: var(--color-green-700);
}

.negative {
  color: var(--color-red-700);
}
