.header {
  position: fixed;
  width: 100dvw;
  display: flex;
  justify-content: center;

  background-color: var(--color-grey-50);
}

.content {
  width: 100%;
  max-width: 1600px;
  margin: 0 3rem;

  display: flex;
  align-items: center;
}

.navigation {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  ul {
    display: flex;
    align-items: center;

    flex-basis: 30%;
    justify-content: space-between;
  }

  a {
    color: var(--color-grey-700);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
